server:
  port: 8086

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
           - id: patient-service
             uri: lb://patient-service
             predicates:
             - Path=/api/patients/**
           - id: healthrecord-service
             uri: lb://healthrecord-service
             predicates:
              - Path=/api/records/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework.cloud.gateway: DEBUG